<%- include('../../pages/partials/head') %>


<div class="contenedor-carrito">
<h2>Carrito</h2>
<div class="carrito" >
<div class="carrito-carrito">
  <% carrito.forEach((libro) => { %>
    <div class="carrito-libro">
    <div class="carrito-titulo">
      <img src="<%= libro.imagen %>" alt="Imagen del libro" width="100">
      <h3><%= libro.titulo %></h3>
   
      
        <p>Precio: $<%= libro.precio %></p>
       
        <form action="/carrito/eliminar/<%=libro.id%>?_method=DELETE" method="POST">
          <input type="hidden"name="_method " value="DELETE">
          <button type="submit" >Eliminar</button>
      </form>
      </div>
    </div>
    <% }) %> 
    
  </div> 
  


 

<h2>Total: $<%= total %></h2>
</div>
<a href="/">volver a inicio</a>

</div>
<%- include('../../pages/partials/footer') %>     