<!--<%- include('../../pages/partials/head') %>
<%- include('../../pages/partials/header') %>

<div class="contenedor-carrito">
<h2>Carrito</h2>
<div class="carrito" >
<div>
  <% carrito.forEach((libro) => { %>
    <div>
    <div style="border: 1px solid black; padding: 10px; margin-bottom: 10px;">
      <img src="<%= libro.imagen %>" alt="Imagen del libro" width="100">
      <h3><%= libro.nombre %></h3>
   
      
        <p>Precio: $<%= libro.precio %></p>
        <form action="/carrito/eliminar" method="post">
          <input type="hidden" name="id" value="<%= libro.id %>">
          <button type="submit" >Eliminar</button>
        </form>
      </div>
    </div>
    <% }) %> 
    
  </div> 
  


 

<h2>Total: $<%= total %></h2>
</div>
<a href="/">volver a inicio</a>

</div>
<%- include('../../pages/partials/footer') %>     esto vemos si lo usamos , si no sirve se saca-->