<div class="admin.container">
  <% Libros.forEach((libro) => { %>
   
    <div class="productos-admin" style="border: 1px solid black; padding: 10px; margin-bottom: 10px;">
      <img src="<%= libro.imagen %>" alt="Imagen del libro" width="100">
      <h3><%= libro.titulo%></h3>
   
      
        <p>Precio: $<%= libro.precio %></p>
        <p>Stock: $<%= libro.stock %></p>
        <td>
            <a href="/editar/producto/admin/<%= libro.id %>">Editar</a>

           <!-- <form action="/eliminar/usuario/<%=libro.id%>?_method=DELETE" method="POST">
                <input type="hidden"name="_method " value="DELETE">
                <button type="submit" >eliminar</button>
            </form>           despues vemos si eliminamos-->
        </td>
      </div>
    
    <% }) %> 
    
  </div> 
  